body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: grey
}

/* Navbar Styles */
#nav{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
#nav a{ 
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

/* Registration Page Styles */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjusted width */
    text-align: center;
    margin: 20px auto; /* Center the container */
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:purple;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

